html, body {
  /* Hide scrollbar for Chrome, Safari, and newer Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and legacy Edge */
  -ms-overflow-style: none;
}