@import "./styles/base.css";
@import "./styles/animations.css";
@import "./styles/shared.css";

.desktop-only {
  display:none;
}

.mobile-only {
  display:block;
}

a {
  color:#000 !important;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

.mobile-shape-container {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
}

@media (min-width:768px) {
  .desktop-only {
    display:block;
  }
  .mobile-only {
    display:none;
  }
}