#loading-screen {
    display:flex;
    height:100dvh;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:center;
    gap:28px;
    z-index:100;
}

#loading-msg {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    gap:14px;
    font-size:13px;
    color:#000;
    opacity:50%;
}

@keyframes pulse {
          0%, 100% { opacity: 1; }
          50% { opacity: 0.4; }
        }